---
layout: default
title_localized:
 en: Page Not Found
meta_description:
permalink_localized:
 en: /page-not-found/
meta_tags:
  robots:
sitemap:
  exclude: true
---


{% region inner_hero, type:hero %}

<div class="sitemap-wrap">
  <div class="main-menu">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
    {% for menu in site.data._menus %}
    <ul class="{{menu[0]}}">
      {% assign items = menu[1].items %}
      {% include nav/nav-item-list.html items=items %}
    </ul>
    {% endfor %}
  </div>
  <div class="footer-menu">
    {% assign footerItems = site.data._menus.footer.items %}
    <ul>
      {% for footerItem in footerItems %}
      <li>
        <a href="{{footerItem.url}}">
          {{footerItem.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
