.footer-wrap {
  padding: 48px 0;
  background-color: $primary;

  @include media-breakpoint-up(md) {
    padding: 62px 0 48px;
  }
}

.footer-main {
  @include make-container;
  max-width: 1254px;

  &__inner {
    @include make-row;
  }

  .h5 {
    margin-bottom: 24px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .logo {
    display: block;
    max-width: 92px;
    margin: 0 auto 48px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__newsletter {
    @include make-col-ready;
    order: 3;

    @include media-breakpoint-up(md) {
      @include make-col(4);
      order: 1;
    }

    &__inner {
      @include media-breakpoint-up(md) {
        max-width: 298px;
      }
    }

    .p {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .primary-cta {
      display: inline-block;
      margin-top: 10px;
      padding: 7px 10px;
      color: $secondary;
      letter-spacing: 1px;
      cursor: pointer;
      background-color: $white;
      border-color: $white;

      &:hover {
        color: $white;
        text-decoration: none;
        background-color: $primary;
      }
    }

    .form-btn {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .chck-cstm {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .cstm-checkbox {
      width: 224px;
      font-family: $family-primary !important;

      @include media-breakpoint-up(md) {
        width: auto;
      }
    }

    .d-flex {
      flex-direction: column;

      .form-control {
        margin: 5px 0;
      }
    }
  }

  &__socail-media {
    @include make-col-ready;
    order: 2;

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    &__icons {
      margin-bottom: 40px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }

      a {
        margin: 0 8px;

        i {
          font-size: 24px;
          color: $white;
        }
      }
    }
  }

  &__reachout {
    @include make-col-ready;
    text-align: center;
    order: 1;

    @include media-breakpoint-up(md) {
      @include make-col(4);
      text-align: left;
      order: 3;
    }

    .h6 {
      margin-bottom: 48px;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.footer-down {
  @include make-container;
  max-width: 1254px;

  &__inner {
    @include make-row;
    flex-direction: column;
    padding: 48px 0 88px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 0;
    }
  }

  &__copy {
    padding: 0;
    font-family: $family-primary;
    font-size: $display6-size;
    line-height: 16px;
    color: $secondary;
    text-align: center;
    letter-spacing: normal;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }
  }

  &__gift-card-link {
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }

    a {
      font-family: $family-quaternary;
      font-size: $display6-size;
      line-height: 16px;
      color: $primary;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include media-breakpoint-down(sm) {
        display: block;
        margin-bottom: 24px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__links {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }

    ul {
      margin: 0;
      padding: 0 0 24px;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding: 0;
        text-align: left;
      }

      li {
        display: inline-block;
        list-style: none;

        @include media-breakpoint-up(md) {
          &:first-child {
            a {
              padding-left: 0;
            }
          }
        }

        a {
          padding: 0 6px;
          font-family: $family-tertiary;
          font-size: $display6-size;
          line-height: 16px;
          color: $secondary;
          text-transform: uppercase;
          letter-spacing: 1px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.footer-fixed-menu {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: $light-grey;

  .call, .location {
    // width: 20%;
    width: 49%;
    text-align: center;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 10px;
      color: $primary;

      i {
        font-size: 20px;
      }
    }
  }

  .location {
    border-left: 1px solid $disabled;
  }

  .reserve {
    width: 60%;
    height: 40px;
    text-align: center;
    background-color: $primary;

    .btn--primary {
      width: 100%;
      height: 40px;
      padding: 13px 0 0;
      line-height: normal;
      color: $white;
      background-color: $primary;
      border: 0;
    }
  }
}
