body {
  margin: 0;
  padding: 0;
  font-family: $family-tertiary;
}

ul {
  margin: 0;
  padding: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, p, .p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:focus {
  outline: none;
}

.h1 {
  font-family: $family-primary;
  font-size: $display2-size;
  line-height: 64px;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 0;

  @include media-breakpoint-up(md) {
    font-size: $display1-size;
  }
}

.h2 {
  font-family: $family-primary;
  font-size: $display3-size;
  line-height: 24px;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.h3 {
  font-family: $family-tertiary;
  font-size: $display4-size;
  line-height: 24px;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.h4 {
  font-family: $family-primary;
  font-size: $display4-size;
  line-height: 24px;
  color: $secondary;
  letter-spacing: 1.5px;
}

.h5 {
  font-family: $family-secondary;
  font-size: $display4-size;
  line-height: 30px;
  color: $primary;
  // letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.h6 {
  font-family: $family-tertiary;
  font-size: $display4-size;
  line-height: 24px;
  color: $primary;
  letter-spacing: 1.5px;
}

.special-heading  {
  font-family: $family-primary;
  font-size: $display8-size;
  line-height: 42px;
  color: $secondary;
  text-transform: uppercase;
  letter-spacing: normal;
}

.overline {
  font-family: $family-primary;
  font-size: $base-font-size;
  line-height: 24px;
  color: $secondary;
  letter-spacing: 1px;
}

.p, p {
  margin-bottom: 24px;
  font-family: $family-secondary;
  font-size: $base-font-size;
  line-height: 24px;
  color: $secondary;
  letter-spacing: 0;
}

.small-paragraph {
  margin-bottom: 30px;
  font-family: $family-tertiary;
  font-size: $display6-size;
  line-height: 20px;
  color: $secondary;
  letter-spacing: .6px;
}

.dark {
  color: $dark;
}

.light {
  color: $white;
}

.bg-dark {
  background-color: $dark;
}

a {
  color: $primary;
}
