<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="https://plugins.traveltripper.io/tns/2.9.2-pegs2/tiny-slider.css">

<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/06522a97-73cb-4d9e-9b0c-e526fe3d9d8c.css"/>

<link href='/favicon.ico' rel='shortcut icon' type='image/png'>
