{% comment %}
  note the nav.is-fixed-top must immediately precede div.main for div.main top-margin to work property
{% endcomment %}

<nav class="navbar greedy is-fixed-top nav--main" id="js-navbar--main">
  <div class="container p-0 flex-nowrap">
    <div class="navbar__menu">
      <ul class="nav greedy-nav__links align-items-center text-uppercase justify-content-end pr-2">
        {% assign items = site.data._menus.main.items %}
        {% include nav/nav-item-list.html items=items %}
      </ul>
      <ul class="nav--device greedy__hidden-links" navMenu>
        <li class="side-nav-header"></li>
        <li class="social">
          {% if site.data.social.instagram.username %}
            <a target="_blank" rel="nofollow" href="https://instagram.com/{{ site.data.social.instagram.username }}" title="Follow us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.data.social.facebook.username %}
            <a target="_blank" rel="nofollow" href="https://facebook.com/{{ site.data.social.facebook.username }}" title="Follow us on Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.data.social.pinterest.username %}
            <a target="_blank" rel="nofollow" href="https://pinterest.com/{{ site.data.social.pinterest.username }}" title="Follow us on Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.data.social.twitter.username %}
            <a target="_blank" rel="nofollow" href="https://twitter.com/{{ site.data.social.twitter.username }}" title="Follow us on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
        </li>
        <li class="contact">
          <span>RESERVATIONS & Hotel:</span> <a href="tel:{{site.data.hotel_settings.phone}}">{{site.data.hotel_settings.phone}}</a>
          <span class="d-block"><a href="{{site.data.hotel_settings.google_location.google_place.url}}" target="_blank">{{site.data.hotel_settings.address.street1}}<br> {{site.data.hotel_settings.address.city}}, {{site.data.hotel_settings.address.state}} {{site.data.hotel_settings.address.zip_code}}</a></span>
        </li>
        <li class="reserve">
          {% comment %}
          {% include components/booking-widget-button %}
          {% endcomment %}
          <a href="javascript:void(0);" class="btn btn--primary reserve-btn">
            Reserve
          </a>
        </li>
        <li class="contact-mobile">
          <a rel="nofollow" href="tel:{{site.data.hotel_settings.phone_number}}" title="Call us at {{site.data.hotel_settings.phone_number}}"><i class="fas fa-phone" aria-hidden="true"></i></a>
          <a target="_blank" rel="nofollow" href="{{site.data.hotel_settings.get_directions}}" title="Get directions to Keswick Hall"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></a>
        </li>
      </ul>
      <a role="button" aria-label="menu" aria-expanded="false" data-target="navMenu" class="navbar__burger greedy-nav--menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <a class="nav__link navbar-brand" href="/">
      <span class="nav__logo"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo and site.data.hotel_settings.logo.url and site.data.hotel_settings.logo.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo.url_xsmall | default: site.data.hotel_settings.logo.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
      <span class="nav__logo-secondary"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo_secondary'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo_secondary and site.data.hotel_settings.logo_secondary.url and site.data.hotel_settings.logo_secondary.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo_secondary.url_xsmall | default: site.data.hotel_settings.logo_secondary.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo_secondary.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
      <span class="nav__logo-mobile"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo_mobile'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo_mobile and site.data.hotel_settings.logo_mobile.url and site.data.hotel_settings.logo_mobile.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo_mobile.url_xsmall | default: site.data.hotel_settings.logo_mobile.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo_mobile.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
    </a>
    <div class="flex-shrink-0 d-md-block{% if page.url == '/gift-card/' %} reserve-btn-none{% endif %}">
      {% comment %}
      {% include components/booking-widget-button %}
      {% endcomment %}
      {% unless page.url == '/gift-card/' %}
      <a href="{{ site.booking_url }}" class="btn btn--primary reserve-btn" target="_blank">
        Reserve
      </a>
      {% endunless %}
    </div>

  </div>
</nav>
