<div class="reserve-modal" id="reserve-modal" data-keyboard="false">
  <div class="reserve-modal__content">
    <div class="reserve-modal__body">
      <a href="javascript:void(0);" type="button" class="reserve-close"><img src="//res.cloudinary.com/traveltripperweb/raw/upload/v1587628179/spnezyvloez3dvpgi26i.svg" alt="reserve popup close"></a>
      <div class="signup">
        <p class="h5">Opening Soon</p>
        <p>Sign up below to receive the latest news about our reopening in Spring, 2021.</p>
      </div>

      {% include forms/jotform/newsletter.html %}
    </div>
  </div>
</div>
