@mixin placeholder-text($font, $size, $color) {
  &::-webkit-input-placeholder { // Edge
    font-family: $font;
    font-size: $size;
    color: $color;
  }

  &:-ms-input-placeholder { // Internet Explorer 10-11
    font-family: $font;
    font-size: $size;
    color: $color;
  }

  &::placeholder {
    font-family: $font;
    font-size: $size;
    color: $color;
  }
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

@mixin complete-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}

@mixin absolute-position($top,$right,$bottom,$left,$width,$height) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
  content: '';
}

@mixin transition($all,$transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
