<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Hotel",
    "name": "{{ site.name }}",
    "logo": "http://res.cloudinary.com/traveltripperweb/raw/upload/v1583327177/ywzbssd5hkxvvta30hhw.svg",
    "image": "http://res.cloudinary.com/traveltripperweb/image/upload/c_limit,f_auto,h_1920,q_auto,w_1920/v1587074191/rddmioaazqx4bnqnafc1.jpg",
    "@id": "{{ site.url }}/#hotel",
    "url": "{{ site.url }}/",
    "email": "marketing@keswick.com",
    "description": "{{ site.description }}",
    "priceRange" : "$$$",
    "telephone": "{{ site.data.hotel_settings.phone_number }}",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "701 Club Drive / Keswick",
    "addressLocality": "Virginia",
    "addressRegion": "VA",
    "postalCode": "22947",
    "addressCountry": "USA"
    }
  }
</script>
