<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Hotel",
    "name": "{{ site.name }}",
    "logo": "https://res.cloudinary.com/traveltripperweb/image/upload/c_fit,f_auto,h_300,q_auto,w_300/v1614597510/hipka58qza75yxwtzpje.png",
    "image": "//res.cloudinary.com/traveltripperweb/image/upload/c_limit,f_auto,h_2500,q_auto,w_2500/v1614597737/g7cxsvtwqqcygqy6q26d.jpg",
    "@id": "{{ site.url }}/#hotel",
    "url": "{{ site.url }}/",
    "email": "guestservice@toppingrosehouse.com",
    "description": "{{ site.description }}",
    "priceRange" : "$$$",
    "telephone": "{{ site.data.hotel_settings.phone }}",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "One Bridgehampton - Sag Harbor Turnpike",
    "addressLocality": "Bridgehampton",
    "addressRegion": "NY",
    "postalCode": "11932",
    "addressCountry": "USA"
    }
  }
</script>
