<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ site.url }}/",
    "sameAs": [
      "https://facebook.com/toppingrosehouse",
      "https://instagram.com/toppingrosehouse",
      "https://twitter.com/ToppingRose"
    ],
    "@id":"{{ site.url }}/#organization",
    "name": "{{ site.name }}",
    "logo":"http://res.cloudinary.com/traveltripperweb/image/upload/c_fit,f_auto,h_300,q_auto,w_300/v1614597510/hipka58qza75yxwtzpje.png"
  }
</script>
