<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ site.url }}/",
    "sameAs": [
      "https://facebook.com/KeswickHall",
      "https://instagram.com/keswick_hall",
      "https://pinterest.com/keswickhall",
      "https://twitter.com/keswick_hall"
    ],
    "@id":"{{ site.url }}/#organization",
    "name": "{{ site.name }}",
    "logo":"http://res.cloudinary.com/traveltripperweb/raw/upload/v1583327177/ywzbssd5hkxvvta30hhw.svg"
  }
</script>
