.menus {
  @include make-container;
  max-width: 1056px;
  margin-top: 48px;

  @include media-breakpoint-up(md) {
    margin-top: 96px;
  }

  &__wrap {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: solid 1px $light-grey;
  }

  &__header {
    padding-bottom: 24px;
    text-align: center;
  }

  &__inner {
    margin-bottom: 24px;
  }

  &__subheader {
    text-align: center;
  }

  &__row {
    @include make-row;
  }

  &__item {
    @include make-col-ready;
    text-align: center;

    @include media-breakpoint-up(sm) {
      @include make-col(6);
      text-align: left;
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    .overline {
      margin-bottom: 0;
    }
  }
}
