<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

{% comment %}
This default layout should generally not be overridden.
It contains all of the page structure that should work for any site and ensures SEO properties and scripts are properly included.
{% endcomment %}

<head>
  {% include head.html %}

  {% include head/custom.html %}

  {% include scripts.html %}

  {% include scripts/docready-fix.html %}
</head>

<body class="{{page.body_class}}">
  {% include default/pre-analytics.html %}

  {% include default/analytics.html %}

  {% include default/skip-link.html %}

  {% include default/pre-nav.html %}
  {% include nav-main.html %}
  {% include default/post-nav.html %}

  <div class='main nav-is-fixed-top' id="main">
    <!--page-content-->
    {{ content }}
    <!--end-page-content-->

  </div>
  {% include components/instagram %}
  {% include default/pre-footer.html %}
  <footer >
    {% include footer.html %}
    {% include footer/custom.html %}
  </footer>
  {% include post-footer.html %}
  {% include default/post-footer.html %}


</body>

</html>
