---
layout: default
---

{% assign item = page.data %}

<section class="hero inner-hero">
  <div class="hero__body">
    <h1 class="h6">Wellness at Topping Rose House</h1>
    <h2 class="h1">LINGER. RELAX. UNWIND. REFRESH. AWAKEN. ESCAPE.</h2>
  </div>
</section>

<div class="inner-banner">
  <div class="inner-banner__slider">
    {% assign slides = item.banner_image %}
    {% for slide in slides %}
    <div class="inner-banner__slider__item">
      <img src="{{ slide.url_xlarge }}" alt="{{ slide.alt }}">
    </div>
    {% endfor %}
  </div>
</div>

<section class="common-details">
  <div class="common-details__inner">
    <h1 class="h2" tabindex="0">{{ item.name }}</h1>
    <div class="common-details__description" tabindex="0">
      {{ item.description }}
    </div>
  </div>
</section>
