---
layout: default
title_localized:
  en: Hotel Rooms Charlottesville VA | Keswick Hall Luxury Resort
meta_description_localized:
  en: Discover sumptuous hotel rooms in Charlottesville VA at Keswick Hall, opening in November 2020 and offering the world's most enviable resort experience.
meta_tags:
  robots:
---

{% assign item = page.data %}

<section class="hero inner-hero">
  <div class="hero__body">
    <h1 class="h6">Hotel Rooms in Charlottesville Virginia</h1>
    <h2 class="h2">Linger. Relax. Unwind. Refresh. Awaken. Escape.</h2>
  </div>
</section>

<div class="inner-banner">
  <img src="{{ item.banner_image.url }}" alt="{{ item.name }}">
</div>

<section class="common-details">
  <div class="common-details__inner">
    <h1 class="h5" tabindex="0">{{ item.name }}</h1>
    <div class="common-details__description" tabindex="0">
      {{ item.description }}
    </div>
  </div>
</section>
