---
layout: default
---

<div class="sitemap-wrap">
  <h1 class="h2">Topping Rose House Site Map</h1>
  <div class="main-menu">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
    <ul class="{{menu[0]}}">
      {% for menu in site.data._menus.main.items %}
      {% assign item_page = site.page_map[menu.page_id] %}
      <li role="none" class="nav__item">
        <a class="nav__link" href="{{ item_page | permalink  }}" target="" rel="noopener">{{ menu.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="footer-menu">
    {% assign footerItems = site.data._menus.footer.items %}
    <ul>
      {% for footerItem in footerItems %}
      {% assign item_page = site.page_map[footerItem.page_id] %}
      <li>
        <a href="{{ item_page | permalink  }}">{{ footerItem.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
