<form name="newsletterForm" id="newsletterForm" accept-charset="utf-8">
  <input type="hidden" name="formID" id="formID" value="4CA9AFB5-C3D1-4DB7-90BA-650E3D62009C">
  <div class="d-flex justify-content-between">
    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" aria-label="First Name" required>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" aria-label="Last Name">
    <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email contact" aria-label="Enter your email ID" required>
    <div class="form-btn">
      <button type="submit" class="primary-cta">sign up</button>
    </div>
  </div>
  <div class="form-group chck-cstm mb-0">
    <label class="cstm-checkbox">
      <input type="checkbox" name="PPASAgree" id="PPASAgree" value="YES" required> I have read and agree to the <a href="/privacy/">privacy policy</a>.
      <span class="checkmark"></span>
    </label>
  </div>
</form>
