<form name="newsletterForm" id="newsletterForm" accept-charset="utf-8">
    <input type="hidden" name="formID" id="formID" value="N06krkxGjw8fBKkgHDZBiLFYD2SPADv84IWtJiRH">
    <input type="hidden" name="leadFormID" id="leadFormID" value="N06krkxGjw8fBKkgHDZBiLFYD2SPADv84IWtJiRH">
    <div class="contact-form">
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">First Name</label>
          <input type="text" class="form-control" name="" placeholder="John" aria-label="Enter your first name" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Last Name</label>
          <input type="text" class="form-control" name="" placeholder="Doe" aria-label="Enter your last name">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Email Address</label>
          <input type="text" class="form-control" name="" placeholder="jdoe@mail.com" aria-label="Enter your Email ID" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Phone</label>
          <input type="text" class="form-control" name="" placeholder="888-888-8888" aria-label="Enter your phone number" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Company</label>
          <input type="text" class="form-control" name="" placeholder="" aria-label="Enter your company name">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Nature of Event</label>
          <textarea class="form-control" name="" placeholder="Nature of Event (e.g., ,Wedding, Birthday Party, Business Dinner, Meeting)" aria-label="Enter Nature of Event"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Event Date</label>
          <input type="text" class="form-control" name="" placeholder="" aria-label="Select event date" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Start Time</label>
          <input type="text" class="form-control" name="" placeholder="" aria-label="Select start time" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">End Time</label>
          <input type="text" class="form-control" name="" placeholder="" aria-label="Select end time" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Number of People</label>
          <input type="text" class="form-control" name="" placeholder="" aria-label=">Enter number of people" required="">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group__wrap">
          <label for="">Additional Information</label>
          <textarea class="form-control" name="" placeholder="" aria-label="Enter Additional Information"></textarea>
        </div>
      </div>
      <div class="form-group chck-cstm">
        <label class="cstm-checkbox">
          <input type="checkbox" name="q7_iAgree[]" value="Agree"> I agree to the <a href="/privacy/">Privacy Policy</a>
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" id="input_2" class="primary-cta">Submit</button>
      </div>
    </div>
</form>
